* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Klee One', cursive;
  background-image: url(./imagen/fondo.jpg);
}

/*Estilos Generales*/
h1 {
  color: #ff66a3;
  font-size: 4.5rem;
  font-weight: 500;
  font-style: normal;
  justify-content: center;
  text-align: center;
}

h2,
h3 {
  color: #ff66a3;
  padding: 20px;
  font-weight: bold;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

.fondo-texto {
  color: #ff66a3;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 20px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 30px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 10px;
  justify-content: center;
}

i {
  color: white;
}

/*Footer*/
footer {
  width: 100%;
  height: 100px;
  padding-top: 100px;
  position: relative;
}

.redesFooter {
  color: #ff66a3;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  position: absolute;
}

.redesFooter i {
  color: #ff66a3;
  background-color: white;
  border-radius: 50%;
  border: 2px solid #ff66a3;
  padding: 5px;
}

.redes-contacto {
  margin: 3px;
  padding-bottom: 3px;
}

.footer-p {
  font-weight: bold;
}

.noSubrayado {
  text-decoration: none;
  color: #ff66a3;
}

.noSubrayado:hover {
  color: #ff66a3;
}

/*Fín Footer*/

/*Sección Adopcion*/

.adopcion {
  color: #ff66a3;
}

.carrusel {
  width: 50%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

/*Menú*/
.hamburger {
  position: absolute;
  left: 30px;
  top: 30px;
  display: flex;
  height: 18px;
  width: 24px;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  z-index: 1;
}

.hamburger__icon {
  display: inline-block;
  height: 2px;
  width: 24px;
  background: #ff66a3;
  border-radius: 2px;
}

.sidebar {
  height: 100vh;
  width: 320px;
  background: #ff66a3;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  transform: translatex(-100%);
  transition: transform 0.4s ease-in-out;
}

.sidebar__close {
  position: absolute;
  top: 50%;
  right: -30px;
  background: #ff66a3;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translatex(-100%);
  cursor: pointer;
  transition: transform 0.4s ease-in-out 0.2s;
}

.sidebar__close::before,
.sidebar__close::after {
  content: "";
  height: 2px;
  background: white;
  width: 24px;
  display: block;
  position: absolute;
}

.sidebar__close::after {
  transform: rotate(90deg);
}

.sidebar__menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
  font-size: 36px;
  margin-top: 80px;
  margin-bottom: 80px;
  color: white;
}

.sidebar__menu a {
  color: currentcolor;
  text-decoration: none;
  transform: translatex(-80%);
  transition: transform 0.4s ease-in-out;
}

.sidebar__menu a::before {
  content: "";
  height: 2px;
  background: white;
  width: 120px;
  position: absolute;
  bottom: -2px;
  left: 0;
  transform: translatex(-50%);
  opacity: 0;
  transition: transform 0.4s ease-in-out, opacity 0.4s linear;
}

.sidebar__menu a:hover::before {
  transform: translatex(0);
  opacity: 1;
}

.sidebar__menu a:nth-child(1) {
  transition-delay: 0.05s;
}

.sidebar__menu a:nth-child(2) {
  transition-delay: 0.1s;
}

.sidebar__menu a:nth-child(3) {
  transition-delay: 0.15s;
}

.sidebar__menu a:nth-child(4) {
  transition-delay: 0.2s;
}

.sidebar__menu a:nth-child(5) {
  transition-delay: 0.25s;
}

.menu-control {
  display: none;
}

.menu-control:checked+.sidebar {
  transform: translatex(0);
}

.menu-control:checked+.sidebar .sidebar__close {
  transform: translatex(0) rotate(45deg);
}

.menu-control:checked+.sidebar .sidebar__menu a {
  transform: translatex(0);
}

/*Fín Menú*/

/*Sección Contacto*/
.contactos {
  color: white;
}

.contenedor {
  max-width: 1170px;
  margin: 0 auto 1rem;
  padding: 1.5rem;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(69, 90, 100, 0.7);
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.info-empresa {
  padding: 1rem;
  background-color: #ff66a3;
}

.contacto {
  padding: 1rem;
  background-color: #ffb3d1;
}

.contacto h3 {
  margin-bottom: 1rem;
}

.formulario {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1.25rem;
}

.formulario label {
  display: block;
}

.formulario button,
.formulario input,
.formulario textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ff66a3;
  outline: none;
}

.formulario textarea {
  resize: none;
}

.full {
  grid-column: 1/3;
}

.boton-enviar {
  background-color: #ff66a3;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

.boton-enviar:focus,
.boton-enviar:hover {
  background-color: #ff66a3;
  color: #fff;
  outline: 0;
  transition: background-color 2s ease-out;
}

.refugios {
  display: flex;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.decoracion {
  border-radius: 30px;
}

.textoResaltado {
  font-weight: bold;
  text-decoration: 2px solid underline;
}

.texto-info {
  color: #ff66a3;
  font-weight: bold;
  text-decoration: 2px solid underline;
  justify-content: center;
  text-align: center;
}

.contacto-ref {
  display: inline;
}

.visitar {
  color: #ff66a3;
  padding: 5px;
}

.enlace {
  text-decoration: none;
}

.carrusel-contacto {
  width: 80%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.titulo-carrusel {
  color: #ff66a3 !important;
  font-size: 30px;
}

/*Fín Sección Contacto*/

/*Seccion Salud tarjetas*/
.content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.card {
  flex: 1;
  margin: 40px 20px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  padding: 15px;
  background-color: #ff66a3;
}

.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card h4 {
  margin-top: 20px;
  font-size: 20px;
  color: white;
}

.card p {
  font-size: 16px;
  margin-top: 10px;
  color: white;
  line-height: 1.3;
}

/*Fín Sección Salud Tarjetas*/

/*Sección Inicio-Requisitos*/

.requisitos {
  color: #ff66a3;
}

.botonInicio {
  color: #ff66a3;
  font-weight: bold;
}

.bordeAcordeon {
  border-radius: 40px !important;
}

.req-acordeon {
  margin: 20px;
}

/*Fín Seeción Inicio-Requisitos*/

/*Sección Experiencias*/

.experiencia {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
}

.container {
  max-width: 120rem;
  padding: 0 1.5rem;
  margin: 0 auto;
}

.container:hover {
  transform: scale(1.03);
}

.content {
  display: flex;
  background-color: #fff;
  box-shadow: .5rem .5rem 1rem rgba(0, 0, 0, 0.5);
}

.content-img {
  flex: 1.3;
}

.content-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-text {
  flex: 1.5;
  padding: 4rem;
}

.content-text .content-title {
  color: #ff66a3;
  font-size: 3rem;
}

.content-text {
  font-size: 2.56rem;
  font-weight: 400;
  color: #444;
  margin: .5rem 0 2rem;
}

.content-text .content-paragraph {
  font-size: 1rem;
  margin-bottom: 2rem;
}

/*Fín Sección Experiencias*/


/*Media Queries*/

/*Tablet*/

@media only screen and (min-width: 768px) and (max-width: 1024px) {

  h1 {
    color: #ff66a3;
    font-size: 3rem;
    font-weight: 300;
    font-style: normal;
    justify-content: center;
    text-align: center;
  }

  /*Seccion Salud tarjetas*/

  .content-section {
    flex-direction: column;
  }

  /*Fín Sección Salud Tarjetas*/

  /*Sección Experiencias*/

  .content {
    flex-direction: column;
    text-align: center;
  }

  .content-text .content-paragraph {
    text-align: justify;
  }

  .content-img {
    height: 350px;
    width: 100%;
  }

  /*Fín Sección Experiencias*/
}


/*SmartPhone*/

@media only screen and (min-width: 414px) and (max-width: 736px) {

  h1 {
    color: #ff66a3;
    font-size: 2.5rem;
    font-weight: 300;
    font-style: normal;
    margin-left: 70px;
  }

  /*Sección Salud*/

  .content-section {
    flex-direction: column;
    text-align: center;
  }

  .content-text .content-paragraph {
    font-size: 1.2rem;
  }

  .content-text .content-subtitle {
    font-size: 1.72rem;
  }

  .content-text .content-title {
    font-size: 2.7rem;
  }

  /*Fín Sección Salud*/

  /*Sección Experiencias*/

  .content {
    flex-direction: column;
    text-align: center;
  }

  .content-text .content-paragraph {
    font-size: 1rem;
  }

  .content-text {
    font-size: 1.5rem;
    margin-top: 5px;
  }

  .content-text .content-title {
    font-size: 2rem;
  }

  /*Fín Sección Experiencias*/

  /*Contacto*/

  .wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .carrusel-contacto {
    width: 80%;
    height: auto;
  }

  /*Fín Contacto*/

/*Footer*/
  .redes-contacto, .footer-p {
    margin-left: auto;
    margin-right: auto;
  }  
/*Fín Footer*/  

}